In [1]:
pip install --upgrade pip

Requirement already satisfied: pip in /home/frankjony17/Projects/venvs/ia-course/lib/python3.6/site-packages (20.3.3)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install pandas scikit-learn Keras tensorflow

In [ ]:
pip install tensorflow==2.2.0

# Importing libraries

In [40]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

# Load dataset and preprocessing of inconclusive values

In [67]:
data = pd.read_csv("dataset/automobile_data.csv", encoding = 'ISO-8859-1')
data.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [68]:
data = data.drop('dateCrawled', axis = 1)
data = data.drop('dateCreated', axis = 1)
data = data.drop('nrOfPictures', axis = 1)
data = data.drop('postalCode', axis = 1)
data = data.drop('lastSeen', axis = 1)
data.head()

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein

In [69]:
data['name'].value_counts()
data = data.drop('name', axis = 1)
data['seller'].value_counts()
data = data.drop('seller', axis = 1)
data['offerType'].value_counts()
data = data.drop('offerType', axis = 1)
data.head()

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein

In [70]:
i1 = data.loc[data.price <= 10]
data.price.mean()
data = data[data.price > 10]
i2 = data.loc[data.price > 350000]
data = data.loc[data.price < 350000]
data.head()

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein

In [71]:
data.loc[pd.isnull(data['vehicleType'])]
data['vehicleType'].value_counts() # limousine
data.loc[pd.isnull(data['gearbox'])]
data['gearbox'].value_counts() # manuell
data.loc[pd.isnull(data['model'])]
data['model'].value_counts() # golf
data.loc[pd.isnull(data['fuelType'])]
data['fuelType'].value_counts() # benzin
data.loc[pd.isnull(data['notRepairedDamage'])]
data['notRepairedDamage'].value_counts() # nein

valores = {'vehicleType': 'limousine', 'gearbox': 'manuell',
           'model': 'golf', 'fuelType': 'benzin',
           'notRepairedDamage': 'nein'}
data = data.fillna(value = valores)
data.head()

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein
1,18300,test,coupe,2011,manuell,190,golf,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein

In [72]:
data_entry = data.iloc[:, 1:13].values
data_class = data.iloc[:, 0].values  # Real price

# Transforming labels into numerical values (Standardization of values)

In [73]:
label_encoder = LabelEncoder()

data_entry[:, 0] = label_encoder.fit_transform(data_entry[:, 0])
data_entry[:, 1] = label_encoder.fit_transform(data_entry[:, 1])
data_entry[:, 2] = label_encoder.fit_transform(data_entry[:, 2])
data_entry[:, 3] = label_encoder.fit_transform(data_entry[:, 3])
data_entry[:, 4] = label_encoder.fit_transform(data_entry[:, 4])
data_entry[:, 5] = label_encoder.fit_transform(data_entry[:, 5])
data_entry[:, 6] = label_encoder.fit_transform(data_entry[:, 6])
data_entry[:, 7] = label_encoder.fit_transform(data_entry[:, 7])
data_entry[:, 8] = label_encoder.fit_transform(data_entry[:, 8])
data_entry[:, 9] = label_encoder.fit_transform(data_entry[:, 9])
data_entry[:, 10] = label_encoder.fit_transform(data_entry[:, 10])

data_entry[0:20]

array([[1, 6, 82, 1, 0, 118, 12, 0, 1, 38, 1],
       [1, 3, 100, 1, 190, 118, 11, 5, 3, 1, 0],
       [1, 7, 93, 0, 163, 119, 11, 8, 3, 14, 1],
       [1, 4, 90, 1, 75, 118, 12, 6, 1, 38, 1],
       [1, 4, 97, 1, 69, 103, 9, 7, 3, 31, 1],
       [1, 6, 84, 1, 102, 11, 12, 10, 1, 2, 0],
       [1, 2, 93, 1, 109, 8, 12, 8, 1, 25, 1],
       [0, 1, 103, 1, 125, 61, 3, 8, 1, 10, 1],
       [1, 4, 87, 1, 101, 118, 12, 0, 1, 38, 1],
       [0, 6, 93, 1, 105, 10, 12, 12, 1, 19, 1],
       [0, 5, 94, 1, 140, 171, 12, 12, 3, 38, 0],
       [0, 5, 84, 1, 115, 171, 12, 11, 1, 38, 1],
       [0, 5, 93, 1, 131, 171, 12, 2, 1, 38, 1],
       [0, 7, 100, 1, 190, 161, 7, 3, 3, 23, 1],
       [1, 4, 12, 1, 0, 130, 0, 0, 1, 10, 1],
       [1, 6, 105, 1, 60, 174, 12, 0, 1, 38, 1],
       [0, 4, 93, 0, 75, 228, 12, 2, 1, 27, 1],
       [1, 1, 96, 1, 136, 61, 12, 6, 3, 10, 1],
       [1, 1, 93, 1, 102, 33, 12, 1, 1, 20, 1],
       [0, 3, 98, 1, 160, 200, 10, 4, 1, 38, 1]], dtype=object)

In [75]:
one_hot_encoder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [0,1,3,5,8,9,10])], remainder='passthrough')  # Atualizado
data_entry = one_hot_encoder.fit_transform(data_entry).toarray()  # Atualizado

In [77]:
data_entry[0:20]

array([[  0.,   1.,   0., ...,   0.,  12.,   0.],
       [  0.,   1.,   0., ..., 190.,  11.,   5.],
       [  0.,   1.,   0., ..., 163.,  11.,   8.],
       ...,
       [  0.,   1.,   0., ..., 136.,  12.,   6.],
       [  0.,   1.,   0., ..., 102.,  12.,   1.],
       [  1.,   0.,   0., ..., 160.,  10.,   4.]])

In [78]:
len(data_entry[0])

316

# Model configuration for training

In [81]:
# Sequential model.
regressor = Sequential()
# Connected NN layer (units=158 -> (316 +1)/2 )
regressor.add(Dense(units=158, activation='relu', input_dim=316))
regressor.add(Dense(units=158, activation='relu'))
regressor.add(Dense(units=1, activation='linear'))
# Configures the model for training
# mean_absolute_error = 'Computes the mean of absolute difference between labels and predictions'
regressor.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mean_absolute_error'])

# Trains the model for a fixed number of epochs

In [82]:
regressor.fit(data_entry, data_class, batch_size=300, epochs=200)

Epoch 1/200
1198/1198 [==============================] - 2s 1ms/step - loss: 3311.2478 - mean_absolute_error: 3311.2478
Epoch 2/200
1198/1198 [==============================] - 2s 1ms/step - loss: 2341.8625 - mean_absolute_error: 2341.8625
Epoch 3/200
1198/1198 [==============================] - 2s 1ms/step - loss: 2203.9062 - mean_absolute_error: 2203.9058
Epoch 4/200
1198/1198 [==============================] - 2s 2ms/step - loss: 2111.9697 - mean_absolute_error: 2111.9697
Epoch 5/200
1198/1198 [==============================] - 2s 2ms/step - loss: 2034.6832 - mean_absolute_error: 2034.6832
Epoch 6/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1967.1814 - mean_absolute_error: 1967.1814
Epoch 7/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1917.4948 - mean_absolute_error: 1917.4948
Epoch 8/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1878.0847 - mean_absolute_error: 1878.0847
Epoch 9/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1846.4108 - mean_absolute_error: 1846.4108
Epoch 10/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1818.3207 - mean_absolute_error: 1818.3207
Epoch 11/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1797.3184 - mean_absolute_error: 1797.3184
Epoch 12/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1778.5381 - mean_absolute_error: 1778.5381
Epoch 13/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1760.7965 - mean_absolute_error: 1760.7965
Epoch 14/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1746.1445 - mean_absolute_error: 1746.1445
Epoch 15/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1730.0973 - mean_absolute_error: 1730.0973
Epoch 16/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1712.3281 - mean_absolute_error: 1712.3281
Epoch 17/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1701.4633 - mean_absolute_error: 1701.4633
Epoch 18/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1685.9337 - mean_absolute_error: 1685.9338
Epoch 19/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1670.0778 - mean_absolute_error: 1670.0778
Epoch 20/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1657.6964 - mean_absolute_error: 1657.6964
Epoch 21/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1643.3281 - mean_absolute_error: 1643.3281
Epoch 22/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1632.2815 - mean_absolute_error: 1632.2815
Epoch 23/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1620.5167 - mean_absolute_error: 1620.5165
Epoch 24/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1613.5792 - mean_absolute_error: 1613.5792
Epoch 25/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1601.3727 - mean_absolute_error: 1601.3727
Epoch 26/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1593.0554 - mean_absolute_error: 1593.0557
Epoch 27/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1587.6989 - mean_absolute_error: 1587.6989
Epoch 28/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1576.6023 - mean_absolute_error: 1576.6023
Epoch 29/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1570.0952 - mean_absolute_error: 1570.0952
Epoch 30/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1561.7047 - mean_absolute_error: 1561.7048
Epoch 31/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1555.5436 - mean_absolute_error: 1555.5436
Epoch 32/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1549.0212 - mean_absolute_error: 1549.0212
Epoch 33/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1543.8330 - mean_absolute_error: 1543.8330
Epoch 34/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1535.3842 - mean_absolute_error: 1535.3842
Epoch 35/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1533.3379 - mean_absolute_error: 1533.3379
Epoch 36/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1527.5560 - mean_absolute_error: 1527.5560
Epoch 37/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1520.8491 - mean_absolute_error: 1520.8491
Epoch 38/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1518.2961 - mean_absolute_error: 1518.2961
Epoch 39/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1513.1691 - mean_absolute_error: 1513.1691
Epoch 40/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1509.5847 - mean_absolute_error: 1509.5847
Epoch 41/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1504.1205 - mean_absolute_error: 1504.1205
Epoch 42/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1499.4535 - mean_absolute_error: 1499.4535
Epoch 43/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1498.8708 - mean_absolute_error: 1498.8708
Epoch 44/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1497.0482 - mean_absolute_error: 1497.0482
Epoch 45/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1492.0848 - mean_absolute_error: 1492.0848
Epoch 46/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1487.2230 - mean_absolute_error: 1487.2230
Epoch 47/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1486.0265 - mean_absolute_error: 1486.0265
Epoch 48/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1485.9319 - mean_absolute_error: 1485.9319
Epoch 49/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1481.6130 - mean_absolute_error: 1481.6130
Epoch 50/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1476.9515 - mean_absolute_error: 1476.9515
Epoch 51/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1474.4156 - mean_absolute_error: 1474.4156
Epoch 52/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1472.8190 - mean_absolute_error: 1472.8187
Epoch 53/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1472.5487 - mean_absolute_error: 1472.5487
Epoch 54/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1468.3396 - mean_absolute_error: 1468.3396
Epoch 55/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1466.7617 - mean_absolute_error: 1466.7615
Epoch 56/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1465.4415 - mean_absolute_error: 1465.4415
Epoch 57/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1464.2859 - mean_absolute_error: 1464.2859
Epoch 58/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1461.8763 - mean_absolute_error: 1461.8763
Epoch 59/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1459.6932 - mean_absolute_error: 1459.6932
Epoch 60/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1456.5023 - mean_absolute_error: 1456.5023
Epoch 61/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1457.3064 - mean_absolute_error: 1457.3064
Epoch 62/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1451.7017 - mean_absolute_error: 1451.7017
Epoch 63/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1452.6865 - mean_absolute_error: 1452.6865
Epoch 64/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1451.8246 - mean_absolute_error: 1451.8246
Epoch 65/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1450.7059 - mean_absolute_error: 1450.7059
Epoch 66/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1448.9479 - mean_absolute_error: 1448.9479
Epoch 67/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1447.6676 - mean_absolute_error: 1447.6676
Epoch 68/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1447.2939 - mean_absolute_error: 1447.2939
Epoch 69/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1438.9908 - mean_absolute_error: 1438.9908
Epoch 70/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1441.5938 - mean_absolute_error: 1441.5938
Epoch 71/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1439.4769 - mean_absolute_error: 1439.4769
Epoch 72/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1442.0764 - mean_absolute_error: 1442.0764
Epoch 73/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1435.8423 - mean_absolute_error: 1435.8422
Epoch 74/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1434.6516 - mean_absolute_error: 1434.6516
Epoch 75/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1432.4021 - mean_absolute_error: 1432.4021
Epoch 76/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1433.8702 - mean_absolute_error: 1433.8701
Epoch 77/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1430.2059 - mean_absolute_error: 1430.2059
Epoch 78/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1428.3215 - mean_absolute_error: 1428.3215
Epoch 79/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1427.2273 - mean_absolute_error: 1427.2273
Epoch 80/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1423.4674 - mean_absolute_error: 1423.4674
Epoch 81/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1424.9822 - mean_absolute_error: 1424.9822
Epoch 82/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1425.0110 - mean_absolute_error: 1425.0110
Epoch 83/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1421.8676 - mean_absolute_error: 1421.8676
Epoch 84/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1421.3579 - mean_absolute_error: 1421.3579
Epoch 85/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1418.2628 - mean_absolute_error: 1418.2628
Epoch 86/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1416.6444 - mean_absolute_error: 1416.6444
Epoch 87/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1416.5315 - mean_absolute_error: 1416.5315
Epoch 88/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1418.2111 - mean_absolute_error: 1418.2111
Epoch 89/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1415.0363 - mean_absolute_error: 1415.0363
Epoch 90/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1413.3440 - mean_absolute_error: 1413.3440
Epoch 91/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1410.7524 - mean_absolute_error: 1410.7524
Epoch 92/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1409.8481 - mean_absolute_error: 1409.8480
Epoch 93/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1408.5751 - mean_absolute_error: 1408.5751
Epoch 94/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1406.7562 - mean_absolute_error: 1406.7562
Epoch 95/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1409.4259 - mean_absolute_error: 1409.4260
Epoch 96/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1407.1128 - mean_absolute_error: 1407.1128
Epoch 97/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1403.7618 - mean_absolute_error: 1403.7618
Epoch 98/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1404.6847 - mean_absolute_error: 1404.6847
Epoch 99/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1401.2235 - mean_absolute_error: 1401.2235
Epoch 100/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1400.9017 - mean_absolute_error: 1400.9017
Epoch 101/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1398.0437 - mean_absolute_error: 1398.0437
Epoch 102/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1404.6057 - mean_absolute_error: 1404.6057
Epoch 103/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1399.1536 - mean_absolute_error: 1399.1537
Epoch 104/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1395.6642 - mean_absolute_error: 1395.6642
Epoch 105/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1395.7712 - mean_absolute_error: 1395.7712
Epoch 106/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1393.0580 - mean_absolute_error: 1393.0580
Epoch 107/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1395.9207 - mean_absolute_error: 1395.9207
Epoch 108/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1392.4773 - mean_absolute_error: 1392.4773
Epoch 109/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1393.0905 - mean_absolute_error: 1393.0905
Epoch 110/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1392.0421 - mean_absolute_error: 1392.0422
Epoch 111/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1388.3119 - mean_absolute_error: 1388.3119
Epoch 112/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1387.6084 - mean_absolute_error: 1387.6084
Epoch 113/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1390.3817 - mean_absolute_error: 1390.3817
Epoch 114/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1384.0388 - mean_absolute_error: 1384.0388
Epoch 115/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1384.0568 - mean_absolute_error: 1384.0566
Epoch 116/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1384.7594 - mean_absolute_error: 1384.7594
Epoch 117/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1382.0565 - mean_absolute_error: 1382.0565
Epoch 118/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1379.8748 - mean_absolute_error: 1379.8748
Epoch 119/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1381.0632 - mean_absolute_error: 1381.0632
Epoch 120/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1381.4398 - mean_absolute_error: 1381.4398
Epoch 121/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1377.9271 - mean_absolute_error: 1377.9271
Epoch 122/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1374.3474 - mean_absolute_error: 1374.3474
Epoch 123/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1375.5278 - mean_absolute_error: 1375.5280
Epoch 124/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1376.6461 - mean_absolute_error: 1376.6461
Epoch 125/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1372.2931 - mean_absolute_error: 1372.2931
Epoch 126/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1372.2737 - mean_absolute_error: 1372.2737
Epoch 127/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1372.2861 - mean_absolute_error: 1372.2861
Epoch 128/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1370.1431 - mean_absolute_error: 1370.1431
Epoch 129/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1372.4988 - mean_absolute_error: 1372.4988
Epoch 130/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1370.8943 - mean_absolute_error: 1370.8943
Epoch 131/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1366.8452 - mean_absolute_error: 1366.8452
Epoch 132/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1367.8828 - mean_absolute_error: 1367.8828
Epoch 133/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1368.1592 - mean_absolute_error: 1368.1592
Epoch 134/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1362.2275 - mean_absolute_error: 1362.2275
Epoch 135/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1368.9827 - mean_absolute_error: 1368.9827
Epoch 136/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1360.3256 - mean_absolute_error: 1360.3256
Epoch 137/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1362.6208 - mean_absolute_error: 1362.6208
Epoch 138/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1360.0354 - mean_absolute_error: 1360.0354
Epoch 139/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1360.3806 - mean_absolute_error: 1360.3806
Epoch 140/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1361.6602 - mean_absolute_error: 1361.6602
Epoch 141/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1357.7532 - mean_absolute_error: 1357.7532
Epoch 142/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1354.6213 - mean_absolute_error: 1354.6213
Epoch 143/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1359.6127 - mean_absolute_error: 1359.6127
Epoch 144/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1355.4993 - mean_absolute_error: 1355.4993
Epoch 145/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1354.4688 - mean_absolute_error: 1354.4688
Epoch 146/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1350.2743 - mean_absolute_error: 1350.2743
Epoch 147/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1351.7028 - mean_absolute_error: 1351.7026
Epoch 148/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1352.0216 - mean_absolute_error: 1352.0216
Epoch 149/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1352.3711 - mean_absolute_error: 1352.3711
Epoch 150/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1349.7844 - mean_absolute_error: 1349.7844
Epoch 151/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1347.8927 - mean_absolute_error: 1347.8927
Epoch 152/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1349.4703 - mean_absolute_error: 1349.4702
Epoch 153/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1348.7236 - mean_absolute_error: 1348.7236
Epoch 154/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1348.4263 - mean_absolute_error: 1348.4263
Epoch 155/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1345.3647 - mean_absolute_error: 1345.3647
Epoch 156/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1344.9415 - mean_absolute_error: 1344.9415
Epoch 157/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1342.1062 - mean_absolute_error: 1342.1062
Epoch 158/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1343.9250 - mean_absolute_error: 1343.9252
Epoch 159/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1344.3392 - mean_absolute_error: 1344.3392
Epoch 160/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1340.5894 - mean_absolute_error: 1340.5894
Epoch 161/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1341.0619 - mean_absolute_error: 1341.0619
Epoch 162/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1337.8688 - mean_absolute_error: 1337.8688
Epoch 163/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1339.8745 - mean_absolute_error: 1339.8745
Epoch 164/200
1198/1198 [==============================] - 2s 2ms/step - loss: 1338.6284 - mean_absolute_error: 1338.6284
Epoch 165/200

# Evaluation of the neural network with the test data

In [83]:
result = regressor.evaluate(data_entry, data_class)

11228/11228 [==============================] - 8s 679us/step - loss: 1313.8097 - mean_absolute_error: 1313.8097